* {
  box-sizing: border-box;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #f8fafc;
}

.dashboard-main {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  transition: margin-left 0.3s ease;
  
}

.dashboard-main.collapsed {
  margin-left: 80px;
}

/* This is the important fix */
.dashboard-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  background: #f8fafc;
}

/* .dashboard-main {
  margin-left: 260px;
  transition: margin-left 0.3s ease;
} */

.dashboard-main.collapsed {
  margin-left: 80px;
}

.dashboard-main{
margin-left:260px;
transition:all .3s ease;
}


