.recent-customers{
background:#fff;
padding:20px;
margin-top: 1rem;
border-radius:16px;
box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.section-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.section-header button{

border:none;
background:#2563eb;
color:#fff;
padding:8px 16px;
border-radius:8px;
cursor:pointer;
}

.customer-list{

display:flex;

flex-direction:column;

gap:15px;

}

.customer-card{

display:flex;

align-items:center;

gap:15px;

padding:12px;

border-radius:10px;

transition:.3s;

cursor:pointer;

}

.customer-card:hover{

background:#f8fafc;

}

.customer-avatar{

width:50px;

height:50px;

border-radius:50%;

background:#2563eb;

color:#fff;

display:flex;

justify-content:center;

align-items:center;

font-size:20px;

font-weight:600;

}

.customer-info h4{

margin-bottom:4px;

font-size:16px;

}

.customer-info p{

color:#64748b;

font-size:14px;

}

.customer-info span{

font-size:13px;

color:#94a3b8;

}